<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"-->

    {% if user.is_authenticated %}
      <title> {{user.username}} | TuErasmus</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="/tuerasmus/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme 
    <link href="/static/dist/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template 
    <link href="/static/examples/theme/theme.css" rel="stylesheet">-->
    <link href="/tuerasmus/static/examples/offcanvas/offcanvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    {% block java_script %}
    {% endblock %}
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tuerasmus">TuErasmus</a>
        </div><!--/.navbar-header -->
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block link_content %}
            {% endblock %}
          </ul>
          
          <!-- Logout user -->
          <form class="navbar-form navbar-right" action="/accounts/logout" method="GET"> {% csrf_token %}
            
            <div class="form-group">
              <a href="/tuerasmus/{{user.username}}/profile" style="text-decoration:none; color:#F2F2F2"><i><tt><big><b><strong> {{user.username}}&nbsp;&nbsp;</strong></b></big></tt></i></a>           
              
              <button type="submit" class="btn btn-danger" value="logout">Cerrar sesión</button>
            </div><!--/.form-group -->
          </form>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar-inverse -->

    <div class="container theme-showcase">
    <!--<div class="container">-->
      <div class="row row-offcanvas row-offcanvas-right">
      
        <a name="top"></a>
        {% block content %}
        {% endblock %}

        <div class="col-xs-3 sidebar-offcanvas" id="sidebar" role="navigation">
        
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Universidades</li>
              <li><a href="/tuerasmus/{{user.username}}/myuniversity">Mis universidades</a></li>
              <li><a href="/tuerasmus/universities">Las universidades</a></li>
              
              <li>Usuarios</li>
              <li><a href="/tuerasmus/{{user.username}}/myerasmus">Mis erasmus</a></li>
              <li><a href="/tuerasmus/universities/urerasmus">Los erasmus</a></li>
              
              <li>Curiosidades</li>
              <li><a href="/tuerasmus/universities/subjects">Asignaturas</a></li>
              <li><a href="/tuerasmus/universities/cities">Ciudades</a></li>
              <li><a href="/tuerasmus/universities/residences">Residencias</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-offcanvas-->
        
      <br>
      <a href="#top" class="btn btn-sm btn-default">Inicio</a>
      <hr>

      <footer>
        <p><center>&copy; ETSIT-URJC 2014</center></p>
      </footer>

    </div> <!--/.container theme-showcase -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="/tuerasmus/static/assets/js/holder.js"></script>
    <!-- script src="/tuerasmus/static/assets/js/jquery.js"></script -->
    <script src="ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/tuerasmus/static/dist/js/bootstrap.min.js"></script>
    <!--<script src="/tuerasmus/static/examples/theme/theme.js"></script>-->
    <script src="/tuerasmus/static/examples/offcanvas/offcanvas.js"></script>
  </body>
</html>
