{% extends "university/universities.html" %}

{% block java_script %}
 <!-- <script type="text/javascript">
    document.getElementById("btn_edit").edit();
    function edit(){
       document.write("Editamos comentario");
    }
    
  </script>

  <script type="text/javascript">
    
    /*document.getElementById("bt_edit").onclick = function () {
        document.write("Welcome!!!");   
    }*/
    function funcion() {
    
      document.write('ESTO SON PRUEBAS!!!!!!!!!');
      document.getElementById("btn_editar").funcion();
      <form action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
          <textarea class="form-control" col="2" rows="2" name="com_edit"></textarea>
          <button class="btn btn-sm btn-primary" type="submit"> Guardar cambios </button>
      </form>      
    }
  </script>*/

  <script> 
    function editar(){ 
        document.write('HOLAAAAAAAA ESTO ES UNA PRUEBA DE BOTON EDITAR')
        numCaracteres = document.formul.textito.value.length 
       	document.formul.numCaracteres.value = numCaracteres 
    } 
  </script> 

  <form name="formul"> 
    <a name="btn_editar"></a>
    <textarea name=textito cols=40 rows=3> 
    Este es el texto por defecto 
    </textarea> 
    <br> 
    <br> 
    Número de caracteres <input type="Text" name="numCaracteres" size="4"> 
  </form> -->

{% endblock %}

{% block data_info %}

  <!-- BLOQUE CIUDADES -->  

  {% if cityData %}
    <h2><strong>{{city_menu}}</strong></h2>
    
    <h3>Precios:</h3>
    <ul>
      {% for i in city_data %}
        <!--li><p><strong>{{i.username}}</strong>: {{i.prices}}</p><a href="#" id="bt_edit" onclick="editar()">Editar</a></li>-->
        <li><p><strong>{{i.username}}</strong>: {{i.prices}}</p><!--<a href="" class="btn btn-sm btn-primary" id="btn_editar" value="Editar" onclick="editar()"></li>-->
        
        <form id="frm1" action="">
          <h6>Deseas editar o eliminar el comentario</h6>
          <button id="btn1" name="comment" type="submit" value="editar" onclick="myedit()">EDITAR</button>
          <button id="btn2" name="comment" type="submit" value="eliminar" onclick="mydelete()">ELIMINAR</button>
        </form>
        

        
        <script>
        function myedit()
        {
          
          document.getElementById("frmedit").innerHTML();
                  
        }
        </script>    
        
        
        <form id="frmedit" action="">
          <textarea row="3" col="5">Escribe tu nuevo comentario</textarea>
        </form>
        
        
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    
    <h3>Zona universitaria:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.uniarea}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Vida estudiantil:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.studentlife}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Turismo:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.turism}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Fiestas:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.party}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Cultura de la ciudad:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.culture}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Delincuencia de la ciudad:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.crime}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Compras en la ciudad:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.shopping}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Vida de los erasmus:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.erasmuslife}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
  {% endif %}
  
  
  
  <!-- BLOQUE RESIDENCIAS -->  
  
  {% if resiData %}
    <h3><strong>La residencia {{resi_menu}}</strong></h3>

    <ul>
    {% for i in resi_data %}
      <li>Comentarios hechos por: <strong>{{i.username}}</strong>
      
          <ul>
          {% for i in resi_com %}
            <li><h3>{{i.title}}</h3>
                <p>{{i.text}}</p>
            </li>
          {% empty %}
            <li><p>Lo siento, pero no hay nada escrito.</p></li>
          {% endfor %}
          </ul> 

      </li>
    {% empty %}
      <li><p>Lo siento, pero no hay nada escrito.</p></li>
    {% endfor %}
    </ul> 
    
  {% endif %}

  <!-- BLOQUE ASIGNATURAS -->
  {% if subjData %}
    <h3><strong>{{subj_menu}}</strong></h3>

    <ul>
    {% for i in subj_data %}
      <li><p><strong>{{i.username}}</strong>: <h3>{{i.subname}}</h3></p>
          <p><strong>Créditos de la asignatura</strong>: {{i.credits}}</p>
          <p><strong>Asignatura por convenio</strong>: {{i.subnameout1}}</p>
          <p><strong>Asignatura por convenio</strong>: {{i.subnameout2}}</p>
          <p><strong>Asignatura por convenio</strong>: {{i.subnameout3}}</p>
          <p><strong>Trabajos que realizar</strong>: {{i.works}}</p>
          <p><strong>Prácticas a realizar</strong>: {{i.practices}}</p>
          <p><strong>Dificultad que presenta respecto a tu universidad de origen</strong>: {{i.difficult}}</p>
      </li>
    {% empty %}
      <li><p>Lo siento, pero no hay nada escrito.</p></li>
    {% endfor %}
    </ul> 

  {% endif %}
  
{% endblock %}

