{% extends "university/universities.html" %}

{% block java_script %}
  <script type="text/javascript">
      function showText(ident, ident2)
        {
          console.log("HOLA ESTOY EN SHOWTEXT");
          console.log(ident);
          //document.getElementById("bt").style.visibility = "visible";
          //document.getElementById("bt2").style.visibility = "visible";
          document.getElementById(ident).style.display = "block";
          document.getElementById(ident2).style.display = "block";
        }
      function hideText(ident, ident2)
        {
          //document.getElementById("bt").style.visibility = "hidden";
          //document.getElementById("bt2").style.visibility = "hidden";
          document.getElementById(ident).style.display = "none";
          document.getElementById(ident2).style.display = "none";
        }
  </script> 
{% endblock %}

{% block data_info %}

  <!-- BLOQUE CIUDADES -->  

  {% if cityData %}
    <h2><strong>{{city_menu}}</strong></h2>
    
    <h3>Precios:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.prices}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    
    <h3>Zona universitaria:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.uniarea}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Vida estudiantil:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.studentlife}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Turismo:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.turism}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Fiestas:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.party}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Cultura de la ciudad:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.culture}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Delincuencia de la ciudad:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.crime}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Compras en la ciudad:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.shopping}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
    
    <h3>Vida de los erasmus:</h3>
    <ul>
      {% for i in city_data %}
        <li><p><strong>{{i.username}}</strong>: {{i.erasmuslife}}</p></li>
      {% empty %}
        <li><p>Lo siento, pero no hay nada escrito.</p></li>
      {% endfor %}
    </ul>
  {% endif %}
  
  
  
  <!-- BLOQUE RESIDENCIAS -->  
  
  {% if resiData %}
    <h3><strong>{{resi_menu}}</strong></h3>

    
    <ul>
    
    {% for i in resi_data %}
      <br><br><br>
      <img src={{i.image}} width="300px" heigth="300px"/><br>
      <li>Comentarios hechos por: <strong>{{i.username}}</strong>
        
          <ul>
          {% for i in resi_com %}
            <li><h3>{{i.title}}</h3>
                <p>{{i.text}}</p>
            </li>
          {% empty %}
            <li><p>Lo siento, pero no hay nada escrito.</p></li>
          {% endfor %}
          </ul> 

      </li>
    {% empty %}
      <li><p>Lo siento, pero no hay nada escrito.</p></li>
    {% endfor %}
    
    </ul> 
    
  {% endif %}

  <!-- BLOQUE ASIGNATURAS -->
  {% if subjData %}
    <h3><strong>{{subj_menu}}</strong></h3>

    <ul>
    {% for i in subj_data %}
      <li><p><strong>{{i.username}}</strong>: <h3>{{i.subname}}</h3></p>
          <p><strong>Créditos de la asignatura</strong>: {{i.credits}}</p>
          <p><strong>Asignatura por convenio</strong>: {{i.subnameout1}}</p>
          <p><strong>Asignatura por convenio</strong>: {{i.subnameout2}}</p>
          <p><strong>Asignatura por convenio</strong>: {{i.subnameout3}}</p>
          <p><strong>Trabajos que realizar</strong>: {{i.works}}</p>
          <p><strong>Prácticas a realizar</strong>: {{i.practices}}</p>
          <p><strong>Dificultad que presenta respecto a tu universidad de origen</strong>: {{i.difficult}}</p>
      </li>
    {% empty %}
      <li><p>Lo siento, pero no hay nada escrito.</p></li>
    {% endfor %}
    </ul> 

  {% endif %}
  
{% endblock %}

