{% extends "university/base.html" %}

{% block link_content %}

        <li><a href="/tuerasmus">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi perfil<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/tuerasmus/{{user.username}}/myprofile">Ver perfil</a></li>
            <li class="divider"></li>
              <li class="dropdown-header">Más</li>
              <li><a href="/tuerasmus/{{user.username}}/edit_profile">Editar perfil</a></li>
              <!--<li><a href="/tuerasmus/{{user.username}}/edit_password">Modificar contraseña</a></li>-->
              <!--<li><a href="#">Modificar contraseña</a></li>-->
          </ul>
        </li>      

{% endblock %}

{% block content %}

        <div class="col-xs-12 col-sm-9">
        
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-danger btn-xs" data-toggle="offcanvas">Menú</button>
          </p>
            
          <div class="jumbotron">
            <div class="row">
              <div class="col-lg-5 col-ms-5 col-xs-7">
                <p>{% block pathimage %}{% endblock %}</p>
              </div>
              <div class="col-lg-7 col-ms-7 col-xs-7">
                <h1>{{ uniname }}</h1>
              </div>
            </div>
          </div>
                      
          <div class="page-header">
            <h1>Elige el tema de información que desees completar</h1>
            <a href="/tuerasmus/university/{{uni_name}}" class="btn btn-sm btn-primary">Ver perfil</a>
          </div>
          
          <p>
            <a href="/tuerasmus/uniedit/{{uni_name}}/doc" class="btn btn-lg btn-warning" type="submit">General y Documentación</a>
            <a href="/tuerasmus/uniedit/{{uni_name}}/hotel" class="btn btn-lg btn-warning" type="submit">Residencias</a>
            <a href="/tuerasmus/uniedit/{{uni_name}}/subjects" class="btn btn-lg btn-warning" type="submit">Asignaturas</a>
            <a href="/tuerasmus/uniedit/{{uni_name}}/city" class="btn btn-lg btn-warning" type="submit">La ciudad</a>
          </p>

          {% block uni_form %}
          {% endblock %}

        </div><!--/span-->

{% endblock %}
