<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Bienvendio a TuErasmus</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>    
    
    <div class="container">

      <div class="masthead">
        <h3 class="text-danger">TuErasmus</h3>
          
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Inicio</a></li>
          <li><a href="#">Destinos</a></li>
          <li><a href="#">Aventuras</a></li>
          <li><a href="http://www.urjc.es/relaciones_internacionales/index2.html">Acerca de</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>¿Quieres conocer más de TuErasmus?</h1>
        <p class="lead">Adéntrate en nuestra web para hacer que tu Erasmus sea una experiencia única. </p>
        <p><a class="btn btn-lg btn-danger" href="http://127.0.0.1:8000/accounts/register/">Registrarme</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Comparte tus vivencias</h2>
          <p>Si quieres compartir e intercambiar historias, aventuras, experiencias con otros alumnos erasmus hazlo accediendo a nuestro blog "TuErasmus". </p>
          <p><a class="btn btn-primary" href="http://127.0.0.1:8000/accounts/login/">Entrar &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Para qué sirve</h2>
          <p>Sólo necesitas registrarte. Podrás consultar todo aquello que necesites según tu ciudad de destino. </p>
          <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Las vivencias Erasmus</h2>
          <p>Quizás con este video os animeis para comenzar vuestra etapa erasmus!! </p>
          <p><a class="btn btn-primary" href="http://www.youtube.com/watch?v=IZCFOd8g-ss">Videos &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
