<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title> {{username}} | TuErasmus</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tuerasmus">TuErasmus</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/tuerasmus">Inicio</a></li>
            <li><a href="/tuerasmus/works">¿Qué es?</a></li>
            <li><a href="http://www.urjc.es/relaciones_internacionales/inicio.html" target="_blank">Erasmus URJC</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contenido<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Últimas modificaciones</a></li>
                <li><a href="#">Universidades</a></li>
                <li><a href="#">Asignaturas</a></li>
                
             
                <!--<li class="divider"></li>-->
                <!--<li class="dropdown-header">Otros</li>-->
                <!--<li><a href="#">Blog</a></li>-->
                <!--<li><a href="#">Descubre más</a></li>-->


              </ul>
            </li>
          </ul>
          
         <!-- Logout user -->
          <form class="navbar-form navbar-right" action="/accounts/logout" method="GET"> {% csrf_token %}
            <div class="form-group">
              <a class="navbar-brand" href="/tuerasmus/home/{{username}}"><strong><em>¡¡Hola {{username}}!!</em></strong></a>
            </div>
            <!--<a class="btn btn-danger" href="/tuerasmus">Cerrar sesión</a>-->
            <button type="submit" class="btn btn-danger" value="logout">Cerrar sesión</button>
          </form>


     
        </div><!--/.navbar-collapse -->
      </div>
    </div>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido a TuErasmus</h1>
        <p>Chequea qué universidades tienen convenio con tu nuestra universidad </p>
        <p>¡¡Con TuErasmus te resultará mucho más fácil compartir ideas, experiencias!! </p>   
      </div>
    </div>

    <div class="container">
      <!-- Row 1 of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>¿Has decidido ya tu destino?</h2> 
          <p>Decidiste tu destino, pero ¿sabes ya dónde residir durante tu estancia? Entra en Airbnb y podrás buscar alojamientos a tu gusto y de la forma más fácil. ¡¡Airbnb se hará cargo del resto!! </p>
          <p><a class="btn btn-primary" href="https://www.airbnb.es/">Airbnb &raquo;</a></p>
       </div>
       
        <div class="col-lg-4">
          <h2>¿Erasmus? o ¿Erasmus Mundus?</h2>
          <p>¿Te conformas con un Erasmus?¿O eres de los que le gusta salir fuera de los límites europeos?¿conocer más sobre los países de Oriente Medio? Entra en Dunia Beam y conoce qué becas puedes solicitar y cómo hacerlo.</p>
          <p><a class="btn btn-primary" href="http://www.duniabeam.eu/">Dunia Beam &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <h2>Desplazarme cómodamente</h2>
          <p>Cada vez recurrimos más y más a esta nueva red social para realizar nuestros desplazamientos de una manera mucho más cómoda. Entr ay regístrate para poder organizar y planificar mejor tus viajes. </p>
          <p><a class="btn btn-primary" href="http://www.blablacar.com/">BlaBlaCar &raquo;</a></p>
        </div>
      </div>


      <!-- Row 2 of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>¿Has decidido ya tu destino?</h2> 
          <p>Decidiste tu destino, pero ¿sabes ya dónde residir durante tu estancia? Entra en Airbnb y podrás buscar alojamientos a tu gusto y de la forma más fácil. ¡¡Airbnb se hará cargo del resto!! </p>
          <p><a class="btn btn-primary" href="https://www.airbnb.es/">Airbnb &raquo;</a></p>
       </div>
       
        <div class="col-lg-4">
          <h2>¿Erasmus? o ¿Erasmus Mundus?</h2>
          <p>¿Te conformas con un Erasmus?¿O eres de los que le gusta salir fuera de los límites europeos?¿conocer más sobre los países de Oriente Medio? Entra en Dunia Beam y conoce qué becas puedes solicitar y cómo hacerlo.</p>
          <p><a class="btn btn-primary" href="http://www.duniabeam.eu/">Dunia Beam &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <h2>Desplazarme cómodamente</h2>
          <p>Cada vez recurrimos más y más a esta nueva red social para realizar nuestros desplazamientos de una manera mucho más cómoda. Entr ay regístrate para poder organizar y planificar mejor tus viajes. </p>
          <p><a class="btn btn-primary" href="http://www.blablacar.com/">BlaBlaCar &raquo;</a></p>
        </div>
      </div>

      </div><!-- /container -->

      <hr color="#FF0000">

      <footer>
        <div><span style="float:right">PFC - <a href="http://gsyc.es" target="_blank" style="color: #424242">GSyC 2013</span> <a href="http://urjc.es" target="_blank" style="color: #424242"> URJC </a></div> 
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
