<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Bienvendio a TuErasmus</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>    
    
    
    <div class="container">

      <div class="masthead">
        <h2 class="text-danger">TuErasmus</h2>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Inicio</a></li>
          <li><a href="#">Cuéntanos tu historia</a></li>
          <li><a href="#">Ciudades destinos</a></li>
          <li><a href="http://www.urjc.es/relaciones_internacionales/index2.html">Solicitud del erasmus</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>¿Quieres conocer más de TuErasmus?</h1>
        <p class="lead">Adéntrate en nuestra web para hacer que tu erasmus sea una experiencia única.</p>
        <p><a class="btn btn-lg btn-danger" href="http://127.0.0.1:8000/accounts/register/">Registrarme</a></p>
        <p><a class="btn btn-sm btn-success" href="http://127.0.0.1:8000/accounts/login/">Iniciar sesión</a></p>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>
