<h1> ¿Qué es TuErasmus? </h1>
  <h3>Web colaborativa</h3>
  <p>Será privada, donde sólo los usuarios registrados puedan acceder, pero que esos usuarios puedan editar algunas partes de la web. Su objetivo primordial es ofrecer un apoyo a aquellos alumnos que en un tiempo futuro disfrutarán de una estancia erasmus.</p>
  <p>TuErasmus les ayudará para que les resulte mucho más fácil informarse acerca de las universidades, asignaturas, alojamientos, planes y excursi0ones turísticas en las distintas ciudades europeas, incluso tener un contacto directo con aquellas personas que ya han vivido su experiencia erasmus en las universidades europeas.</p>
  <p>Para poder disfrutar de todos estos servicios que ofrecemos sólo será necesario registrarse y comenzar a aportar vivencias, experiencias, opiniones, e ir poco a poco adentrándote en el mundo erasmus, incluso sin haberte ido aún!!!</p>  

<p><a class="btn btn-primary" href="/tuerasmus">Inicio &raquo;</a></p>



