{% extends "registration/base.html" %}

{% block link_content %}

    <li><a href="/tuerasmus">Inicio</a></li>
    <li><a href="/howto">¿Qué es?</a></li>
    <li><a href="http://www.urjc.es/relaciones_internacionales" target="_blank">Erasmus URJC</a></li>
    <li class="active"><a href="/contact">Contacto</a></li>

{% endblock %}

{% block content %}

    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <h1>Contactando con el desarrollador: </h1>
      </div>
    </div>
    
    <div class="container">
      <form action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
        {% if user.is_authenticated %}
          <h1>Rellena el siguiente formulario para contactar con el admin: </h1>
          {{ form.as_p }}
          
          <button class="btn btn-primary" type="submit">Enviar</button>
        {% else %}
          <h1>Como no estás registrado, deberás mandar un correo al siguiente contacto: </h1>
          <p style="float:right"><a class="btn btn-info btn-lg" href="https://www.gmail.com" target="_blank"> rawankho@gmail.com </a></p>
        {% endif %}
        
        
        {% if alerterror %}
          <div class="alert alert-danger">
            <center><strong>¡¡ERROR!!</strong>, asegúrate te introducir bien los datos</center>
          </div>
        {% endif %}

        {% if alertdone %}
          <div class="alert alert-success">
            <center><strong>Enhorabuena <big>{{usu}}</big>, ¡mensaje enviado!</strong></center>
          </div>
        {% endif %}
        
      </form>
    </div>

{% endblock %}
