{% extends "registration/base.html" %}

  {% block link_content %}
    <li class="active"><a href="/tuerasmus">Inicio</a></li>
    <li><a href="/howto">¿Qué es?</a></li>
    <li><a href="http://www.urjc.es/relaciones_internacionales" target="_blank">Erasmus URJC</a></li>
    <li><a href="/contact">Contacto</a></li>
  {% endblock %}

	{% block content %}
    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido a TuErasmus</h1>
        <p>¡¡Comienza a preparar tu nueva experiencia!! Si aún no te has registrado, haz click en el botón de abajo y comienza a disfrutar.</p>
        <p><a class="btn btn-success btn-lg" href="/accounts/register">Registrar</a></p>
      </div>
    </div>

    <!-- Web content -->
    <div class="container">
      <br><br>
      <h2 color="#2E2E2E"> ¡¡Existen diversas webs que podrán serte útiles!! ¡¡Te darán ideas para hacer las cosas de distina manera!!</h2>
      
      <!-- Row 2 of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>¿Has decidido ya tu destino?</h2> 
          <p>Decidiste tu destino, pero ¿no sabes dónde residir durante tu estancia? Entra en Airbnb y podrás buscar alojamientos a tu gusto y de la forma más fácil. ¡¡Airbnb se hará cargo del resto!!</p>
          <p><a class="btn btn-primary" href="https://www.airbnb.com/" target="_blank">Airbnb &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <h2>¿Viajar ahorrando en alojamiento?</h2>
          <p>Tienes ganas de viajar pero no de gastar mucho dinero, ahora puedes ahorrar el gasto del alojamiento mientras lo haces. Entra en "couch surfing" y verás nuevas maneras de viajar y ahorrar compartiendo!!!</p>
          <p><a class="btn btn-primary" href="https://www.couchsurfing.org/" target="_blank">Couch Surfing &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <h2>Desplazarte cómodamente</h2>
          <p>Cada vez recurrimos más y más a esta nueva red social para realizar nuestros desplazamientos de una manera mucho más cómoda. Entra y regístrate para poder organizar y planificar mejor tus viajes.</p>
          <p><a class="btn btn-primary" href="http://www.blablacar.com/" target="_blank">BlaBlaCar &raquo;</a></p>
        </div>
      </div><!-- ./row 2 -->
    </div><!-- /container -->

	{% endblock %}

