{% extends "tuerasmus/base.html" %}

{% block link_content%}

            <li><a href="/tuerasmus">Home</a></li>
            <li><a href="/tuerasmus/{{username}}/myprofile">Mi perfil</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">UniErasmus<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/tuerasmus/{{user.username}}/myuniversity">Mi universidad</a></li>
                <li><a href="/tuerasmus/universities">Las universidades</a></li>
                <li class="divider"></li>
                  <li class="dropdown-header">Más</li>
                  <li><a href="/tuerasmus/uniregister">Registrar</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">LosErasmus<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tuerasmus/{{user.username}}/myerasmus">MisErasmus</a></li>
                <li><a href="/tuerasmus/urerasmus">TusErasmus</a></li>
              </ul>
            </li>
            <li><a href="/tuerasmus/comments">TusComentarios</a></li>
            <li><a href="/contact">Contacto</a></li>
            
{% endblock %}

{% block content %}

    <div class="col-xs-12 col-sm-9">
    
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      
      <div class="jumbotron">
        <h1>Tu estuviste en...</h1>
      </div>

      <div class="page-header">
        <h1>¿Qué se ha escrito sobre tu universidad? ¿Qué quieres escribir sobre tu universidad?</h1>
      </div>

      <div class="row">
      
        <div class="col-lg-6">
          {% if reco1 %}
            <h3><strong><center>{{ uni1 }}</center></strong></h3>
            <center><p><a class="btn btn-primary btn-lg" href="/tuerasmus/uniedit/{{uni1id}}" name="uni_selected" value={{uni1}}>EDITAR UNIVERSIDAD</a><a class="btn btn-success btn-lg" href="/tuerasmus/university/{{uni1id}}" name="uni_selected" value={{uni1}}>VER UNIVERSIDAD</a></p></center> 
            </select>
          {% else %}
            <h3>Registra tu universidad erasmus</h3>
            <center><p><a class="btn btn-warning btn-lg" href="/tuerasmus/uniregister">REGISTRAR UNIVERSIDAD</a></p></center>
          {% endif %}
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-6">
          {% if reco2 %}
            <h3><strong><center>{{ uni2 }}</center></strong></h3>
            <center><p><a class="btn btn-primary btn-lg" href="/tuerasmus/uniedit/{{uni2id}}">EDITAR UNIVERSIDAD</a><a class="btn btn-success btn-lg" href="/tuerasmus/university/{{uni2id}}" type="submit">VER UNIVERSIDAD</a></p></center>
          {% else %}
            <h3>Registra tu universidad munde</h3>
            <center><p><a class="btn btn-warning btn-lg" href="/tuerasmus/uniregister">REGISTRAR UNIVERSIDAD</a></p></center>
          {% endif %}
        </div><!-- /.col-lg-6 -->
        
      </div><!-- /.row -->
     </div><!--/span-->
{% endblock %}
